
html, body { 
  height: 100%; 
}

body{
  	padding-top:50px; /*padding for navbar*/
}

/*
#list-view, #list-view>.row {
  height: 100%; 
}
#list-view>.row {
  overflow-y: scroll; 
}
#left {
  height: 100%;
}
*/

/**
 * Place the map on the right 75% of the screen.
 * Push it down 50 pixels to make room for a search bar 
**/
#map-canvas {
	width:75%;
    height:calc(100% - 0);
    position:absolute;
    right:16px;
    top:50px;
    bottom:0;
    overflow:hidden;
}
