
html, 
body { 
  height: 100%; 
}

body{
  padding-top:70px; /*padding for search bar*/
}

.white {
  color: white;
}

/* Document level adjustments */
html,
body, 
.iw-text {
  font-size: 17px;
}
@media (max-width: 900px) {
  html,
  body, 
  .iw-text { font-size: 15px; }
}
@media (max-width: 400px) {
  html,
  body, 
  .iw-text { font-size: 13px; }
}

/* Type will scale with document */
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}

/**
 * Place the map on the right 75% of the screen.
 * Push it down 70 pixels to make room for a search bar 
**/
.map-canvas {
  width:75%;
  height:calc(100% - 0);
  position:absolute;
  right:16px;
  top:70px;
  bottom:0;
  overflow:hidden;
}

/**
 * Style the logo into all caps and white.
**/

.logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

.left {
  padding-right: 45px;
}
/**
 * Style the search bar.
**/

.search-bar {
  padding-top: 9px;
}

.search-bar button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:#428bca;
}
